.App {
  text-align: center;
}

.Photo-box {
  height: 60vmin;
  background-color: lightblue;
  color: cadetblue;
}

.Result-box {
  height: 100vmin;
  background-color: #555555;
  color: aliceblue;
}

.Button {
  margin: 10px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: cornflowerblue;
}

.Button:hover {
  cursor: pointer;
}
